@import "../../common/colors.scss";

.projects {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 20px;
    flex-direction: column;
    h2 {
        color: $font-secondary;
        padding: 10px;
        text-align: center;
    }
    .projectList {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
}