@import "../../common/colors.scss";
.project {
    margin: 10px;
    border-radius: 5px;
    box-shadow: -6px 5px 6px -7px $font-secondary;
    background: linear-gradient($background-primary-light, $background-primary-light) padding-box,
    linear-gradient(to right, $font-primary-light,$font-primary, $font-primary-dark) border-box;
    border-radius: 7px;
    border: 4px solid transparent;
    min-width: 250px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .09s ease-in-out;
    &:hover {
        box-shadow: -6px 5px 12px -8px $font-secondary;
        transform: scale(1.01);
        cursor: pointer;
    }
    .projectBgImage {
        height: 100%;
        width: 100%;
        img {
            border-radius: 3px 3px 0px 0px;
            width: 400px;
            height: 225px;
        }
    }
    h2 {
        font-size: 20px !important;
        font-weight: 500 !important;
        letter-spacing: 1px;
        margin-bottom: 0px !important;
        color: $font-secondary !important;
    }
}