@import "../../common/colors.scss";
.home {
    .about {
        display: flex;
        justify-content: space-evenly;
        height: calc(100vh - 100px);
        align-items: center;
        .left {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h3 {
                span {
                    background: -webkit-linear-gradient($font-secondary, $font-primary);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            a {
                color: $font-secondary;
            }
            .prompt {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h2 {
                    text-align: center;
                }
                .icons {
                        display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 100%;
                    svg {
                        font-size: 40px;
                    }
                }
            }
        }
        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 400px;
            width: 100%;
            height: 100%;
            position: relative;
            background: url('../../common/assets/profile2.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            svg {
                width: 100%;
            }
            .imgContent {
                max-width: 300px;
                position: absolute;
                top: 81px;
                min-height: 400px;
                img {
                    width: 100%;
                }
            }
        }
    }
    .skills {
        padding: 150px 0px;
        padding-top: -50px;
        background-color: lighten($background-primary, 6%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        .title {
            position: relative;
            span {
                position: absolute;
                top: 0;
                width: 100%;
                z-index: +2;
                box-shadow: 0px 10px 6px -10px lighten($font-secondary, 35%);
                height: 50px;
            }
            h1 {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                height: 50px;
                margin-bottom: 50px;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 700;
                z-index: +1;
                box-shadow: 0px 10px 6px -10px $font-secondary;
                background: -webkit-linear-gradient($font-secondary, $font-primary);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
            }
        }

        .list {
            .item {
                .hexes {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    .hex {
                        margin: 10px;
                        border-radius: 5px;
                        box-shadow: -6px 5px 12px -8px $font-secondary;
                        border-left: 1px solid lighten($background-primary, 20%);
                        border-bottom: 1px solid lighten($background-primary, 20%);
                        border-right: 1px solid lighten($background-primary, 3%);
                        border-top: 1px solid lighten($background-primary, 3%);
                        min-width: 125px !important;
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        transition: all .15s ease-in-out;
                        &:hover {
                            transform: scale(1.03);
                            cursor: default;
                        }
                        h5 {
                            font-weight: 500;
                            color: $font-secondary;
                        }
                        svg {
                            height: 100px;
                            background-position: center center;
                            padding: 10px;
                            polygon {
                                fill-rule: evenodd;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 850px) {
    .about {
        .right {
            height: max-content !important;
            min-height: 450px !important;
        }
    }
}
@media only screen and (max-width: 700px) {
    .about {
        .left {
            .prompt {
                h2 {
                    font-size: 22px;
                }
            }
        }
    }
}
@media only screen and (max-width: 615px) {
    .about {
        margin: 100px 0px;
        flex-direction: column-reverse;
        .right {
            height: max-content !important;
            min-height: 400px;
            margin-bottom: 50px;
        }
        .left {
            height: max-content !important;

        }
    }
}
@media only screen and (max-width: 450px) {
    .about {
        flex-direction: column-reverse;
        .right {
            height: max-content !important;
            min-height: 300px;
        }
        .left {
            height: max-content !important;
            h3 {
                font-size: 18px;
            }
            .prompt {
                h2 {
                    font-size: 21px;
                }
                .icons {

                    svg {
                        font-size: 25px !important;
                    }
                }
            }
        }
    }
}