@import "../../common/colors.scss";
.contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 20px;
    width: 100%;
    flex-direction: column;
    background-color: $background-primary-light;
    h2 {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 1px;
        color: $font-primary;
    }
    p {
        text-align: center;
    }
    .hire {
        cursor: pointer;
        box-shadow: 0px 3px 4px -2px $background-primary;
    }
    a {
        color: $font-secondary;
        &:hover {
            color: $font-secondary-dark;
        }
    }
}