@import "../../common/colors.scss";
.logo-hidden {
  position: fixed;
  top: 8px;
  height: 100px;
  z-index: 1100;
  align-items: center;
  justify-content: center;
  left: 20px;
  display: none;
}
.navbar {
    width: 100%;
    height: 100px;
    background: lighten($color: $background-primary, $amount: 2.5%);
    box-shadow: 1px 1px 30px -18px $font-secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease;
    .logo {
      position: inherit;
      margin: 0;
    }
    .links {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $font-primary;
    }
    a {
      color: darken($font-primary, 20%);
      text-decoration: none;
      margin: 20px;
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 1px;
      border: 1px solid transparent;
    }
    .toggleButton {
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      svg {
        font-size: 50px;
      }
      button {
        margin-right: 20px;
        background-color: transparent;
        border: none;
        color: $font-primary;
        cursor: pointer;
      }
    }
  }
  
  .hire {
    color: $font-secondary !important;
    background: -webkit-linear-gradient( lighten($font-primary, 30%), darken($font-primary, 10%));
    border-radius: 20px;
    padding: 5px 20px;
    width: auto;
    border: none !important;
  }
  
  #open {
    height: 400px;
    transition: all .3s ease-in;
    .links {
      flex-direction: column;
      justify-content: flex-start;
      opacity: 1;
      transition: all .3s ease-in-out;
      transition-delay: .1s;
    }
    a {
      width: 100%;
      text-align: center;
    }
    .logo {
      opacity: 1;
      transition: all .3s ease-in-out;
      transition-delay: .1s;
    }
  }
  
  
  
  @media only screen and (max-width: 800px) {
    .navbar a {
      margin: 10px;
    }
  }
  @media only screen and (max-width: 700px) {
    .navbar a {
      margin: 3px;
    }
  }
  
  @media only screen and (max-width: 615px) {
    .logo-hidden {
      display: flex !important;
    }
    .toggleButton {
      display: flex !important;
      svg {
        background-color: $background-primary-dark-opacity;
        border-radius: 5px;
        box-shadow: -6px 5px 12px -8px $font-secondary;
        border-left: 1px solid lighten($background-primary, 20%);
        border-bottom: 1px solid lighten($background-primary, 20%);
        border-right: 1px solid lighten($background-primary, 3%);
        border-top: 1px solid lighten($background-primary, 3%);
        padding: 10px;
      }
    }
    #close a {
      display: none !important;
    }
    .links {
      opacity: 0;
    }
    .logo {
      opacity: 0;
    }
    
    .links {
      width: 100%;
      a:active {
        border: 1px solid $font-primary;
        border-radius: 15px;
      }
      .hire {
        border: none !important;
      }
    }
    .navbar {
      justify-content: center;
    }
    .logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #close {
      background: transparent;
      box-shadow: none;
      .links {
        opacity: 0;
        transition: all .3s ease-in;
  
      }
    }
  }
  
  @media only screen and (min-width: 616px) {
    .toggleButton {
      display: none !important;
    }
    
    .hiddenLinks {
      display: none !important;
    }
  
    #open {
      height: 100px !important;
    }
    #open .links {
      flex-direction: row !important;
    }
    .hidden {
      display: none !important;
    }
  }