$background-primary: #020202;
$font-primary: #c77e00;
$font-secondary: #c7c7c7;
$font-secondary-dark: #9e9e9e;
$font-primary-light: lighten($font-primary, 12%);
$font-primary-dark: darken($font-primary, 12%);
$background-primary-dark-opacity: #02020286;
$background-primary-light: lighten($background-primary, 6%);