$background-primary: #020202;
$font-primary: #c77e00;
$font-secondary: #e2e2e2;
$font-primary-light: lighten($font-primary, 12%);
$font-primary-dark: darken($font-primary, 12%);
$background-primary-light: lighten($background-primary, 6%);